* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777582;
}

h1, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

#bookADemo_pg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.nav_bar {
    background-color: #1B1A21;
    opacity: 0.96;
    height: 80px;
    width: 1024px;
    display: flex;
    align-items: center;
}

.singlestore_img {
    height: 28.35px;
    width: 135.52px;
    margin-left: 24px;
}

.image_parent_container {
    background-color: #F9EDFF;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px;
}

.calendardays_img {
    /* fill: linear-gradient(to bottom,#AA00FF, #00A3D7); */
    /* background-image: linear-gradient(red, yellow); */
}

.bookADemo_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /* border: 1px solid red; */
    width: 400px;
}

.bookADemo_subheading_parent {
    display: flex;
    text-align: center;
    width: 400px;
    margin: 25px;
    
}

.bookADemo_subheader {
    color: #4C4A57;
    font-size: 13px;
    margin-bottom: 5px;
}

.bookADemo_inputBlock, .bookADemo_radioBlock {
    /* margin: 10px; */
    width: 400px;
}

.bookADemo_dropdown_parentWrapper {
    position: relative;
    display: inline-block;
    margin: 25px 0px 25px 0px;
}

.bookADemo_form_dropbtn, .bookADemo_form_input {
    background-color: #F3F3F5;
    color: #777582;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 400px;
    height: 32px;
    line-height: 20px;
    display: flex;
    align-items: center;
    /*margin: 20px;*/
}

input.bookADemo_form_input:focus {
    border: 1px solid #C550FF;
    
    background-color: yellow;

}

.bookADemo_form_dropbtn {
    position: relative;
}

.btnicon {
    position: absolute;
    z-index: 10;
    left: 372px;
    
}

.bookADemo_form_dropbtn:hover, .bookADemo_form_dropbtn:focus {
    background-color: #F3F3F5;
}


.dropdown-content {
    display: none;
    position: absolute;
    /* padding: 5px; */
    margin-top: 5px;
    background-color: #FFFFFF;
    border: 1px #E6E5EA;
    border-radius: 4px;
    width: 400px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
}

.bookADemo_dropdown_li {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 15px;
}

.bookADemo_dropdown, .bookADemo_dropdown_li:hover {
    cursor: pointer;
    background: #F3F3F5;
}

.active {
    display: block;
}

.bookADemo_btn_container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.bookADemo_form_btn {
    background-color: #8800CC;
    border-radius: 4px;
    width: 228px;
    height: 40px;
    color: #FFFFFF;
    line-height: 21.84px;
    font-size: 14px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.bookADemo_form_btn:hover {
    background-color: #AA00FF;
    cursor: pointer;
}

/* .bookADemo_form_btn:focus {
    background-color: #8800CC;
}
 */
/* TODO: Need to arrange items in the right order */
#radiobtn-parentwrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 30px;
    /* border: 1px solid red; */
}

.radiobtn_content {
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    
}

/* TODO: Need to resize radio button selector */
/* input[type="radio"] {
    background-color: blue;
} */

.radiobtn_label {
    padding-left: 10px;
}

/* .radiobtn_input:checked {
    border: 6px solid black;
} */

input[type="radio"] {
  /* Add if not using autoprefixer */
/*   -webkit-appearance: none;
  appearance: none; */
  /* For iOS < 15 to remove gradient background */
  background-color: #FFF;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  width: 16px;
  height: 16px;
  border: 1px solid #777582;
  border-radius: 64px;
  transform: translateY(-0.075em);
  margin-top: 1px;
  display: grid;
  place-content: center;
}

/* input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #8800CC;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  } */